name: auto build

on:
  release:
    types: [published]
  push:
    tags:
    - 'v*'
  #  branches:
  #    - master
  schedule:
    - cron: '30 4 1 * *'
  watch:
    types: [started]

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: curl
        env:
          TRIGGER_URL: ${{ secrets.DOCKERHUB_TRIGGER_URL }}
        run: |
          echo "curl -X POST $TRIGGER_URL" > run.sh
          bash ./run.sh
