name: auto build

on:
  release:
    types: [published]
  push:
    tags:
    - 'v*'
  #  branches:
  #    - master
  schedule:
    - cron: '30 4 * * 4'
  watch:
    types: [started]

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
            - name: curl
              env:
                TRIGGER_URL: ${{ secrets.DOCKERHUB_TRIGGER_URL }}
              run: |
                      echo $TRIGGER_URL > trigger_url.txt

                      curl $(printf ' -d %s' $(cat trigger_url.txt))
